doctype html
html(lang="pug")
	head
		title="index"
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js")
		body
			div
				input(type="file" id="userfile")
				div
					button 发送文件
				image(alt="图片暂时为空")
				script(src="index.js")
	body
